body {
  font-family: 'Assistant', Arial, sans-serif;
  margin: 0;
  padding: 20px 20px 30px;
  -webkit-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.header {
  padding: 0 15px 10px;
  color: #555;
  text-align: center;
  margin: auto;
  width: 97%;
  max-width: 730px;
}

.header h1 {
  font-size: 26px;
  text-align: center;
  font-weight: 500;
  margin: 10px auto 20px;
}

.content {
  font-family: 'Assistant', Arial, sans-serif;
  text-align: justify;
  font-size: 25px;
  padding: 10px;
  max-width: 730px;
  width: 97%;
  margin: 0 auto;
}

.content .description {
  display: block;
  max-width: 580px;
  font-size: 18px;
  text-align: justify;
  margin: 0 auto 20px;
}

.content section {
  text-align: center;
}

.content .column {
  display: inline-block;
  text-align: right;
  min-width: 49%;
  vertical-align: top;
  padding: 20px;
  margin-bottom: 20px;
}

.content h4 {
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  margin: 0 auto 30px;
}

.content .column .field {
  margin-bottom: 5px;
}

.content .column label {
  font-size: 17px;
  font-weight: 500;
  vertical-align: middle;
  cursor: pointer;
}

.content .column input[type=number],
.content .column select {
  width: 100px;
  margin-right: 18px;
  vertical-align: middle;
}

.content iframe {
  display: block;
  margin: auto;
  box-shadow: 1px 1px 10px #ccc;
}

.content .code-section {
  font-size: 22px;
  text-align: center;
}

.content textarea#code {
  display: inline-block;
  font-size: 16px;
  direction: ltr;
  text-align: left;
  width: 500px;
  max-width: 100%;
  height: 100px;
}

.footer {
  text-align: center;
}

@media (max-width: 420px) {
  .content textarea#code {
    height: 200px;
  }

  .content .column {
    min-width: 100%;
  }
}

@media (max-width: 260px) {
  .content textarea#code {
    height: 300px;
  }
}
